.raleway-css {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}


.inter-css {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}
body{
    background-color: #e4e4ea;
}

/* header style */
.header {
    background-image: url(../pictures/Assets/Hero-bg.png);

}

/* button style */
.button {
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    font-weight: bold;
    margin: 20px;
}

/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}

.nav-title {
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
}

nav ul li {
    list-style: none;

}

/* ========================= */
.nav-heading {
    text-align: center;
    padding: 158px 267.5px 152px 267.5px;
}

.nav-heading-text {
    font-size: 65px;
    color: #252432;
    font-weight: bold;


}

/* action section */
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 116px 159px 116px 141px;
}

.action-section {
    padding: 62.5px 220px 62.5px 0px;
}

.action-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-paragraph {
    font-size: 24px;
    color: #252432;
    font-weight: 200;

}

.image {
    height: 328px;
    width: 403px;
    border-radius: 15px;
}

/* Productive Users Section */
.background-color {
    background-color: #cecde4;
    padding: 50px 142px;
    margin: 116px 159px 137px 141px;
    border-radius: 15px;

}

.Centered-title {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    text-align: center;


}

.Productive {
    display: flex;
    justify-content: space-between;


}

.users {
    font-size: 80px;
    color: rgba(78, 71, 255, 1);
    margin: 0px;
    font-weight: bold;
}

.users-clasification {
    font-size: 20px;
    font-weight: 300;
    margin-top: 8px;
}


/* Reviewer says style */
.says-title {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

.all-says {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0px 159px 116px 141px;
}

.reviewer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.reviewer-name {
    font-size: 12px;
    font-weight: 600;
    color: #7b7a82;
    margin: 0;
}

.review-date {
    font-size: 10px;
    color: #999;
    margin: 0;
}

.say {
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px 0px rgba(190, 217, 220, 0.974);
        background-color: rgb(226, 204, 204);

    
   
}
/* focus style   */
.focus{
    text-align: center;
    margin: 144px 159px 85px 141px;
    background-color: rgb(228, 228, 228);
}
.focus-title{
    font-size: 50px;
    padding: 71px 312px 0px 312px;
}
.focus-text {
    font-size: 18px;
    color: #555;
   
}
.focus-image {
    max-width: 100%;
    border-radius: 16px;
    padding:0px 150px 50px 150px;
}

.img{
    border-radius: 30px;
}

/* Get in touch style */

.get-touch {
  display: flex;
  justify-content: center;   
  align-items: center;       
  gap: 115px;                 
  padding: 80px 150px;
}

.touch-title {
  font-size: 90px;
  font-weight: bold;
  color: black;
}
.touch-cloum{
    display: flex;
    max-width: 50%;
}
.touch-from{
 height: 64px;
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 10px 50px;
  margin-bottom: 24px;
  border: none;
}

.touch-fr-ti{
   font-size: 18px;
   color: black;
}